.create {
    padding: 3rem 0;
    background-color: rgb(247, 245, 245);
    height: calc(100vh - 66px);
    overflow: scroll;
}
.create_content {
    display: flex;
    flex-direction: column;
}

.create_content_heading{
    margin-bottom: 2rem;
}